html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

.canvasContainer, .inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputContainer {
  margin-top: 5px;
}

.entityInterpolationCB {
  margin-left: 30px;
}

.fpsMeter {
  margin: 0 0 0 30px;
}

.board {
  border: 1px solid black;
}

.gameOverMessage, .waitingMessage {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 4s;
  -webkit-transition: opacity 2s;
}

.waitingMessage {
  top: 50px;
}
